
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: 5px;
  padding:0px;
  background-color:#121212;
}

/*Renderingsfönster*/
#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

/*Högra halvan av menyn*/
#header_right {
  position: absolute;
  margin-top: 0px;
  right: 0px;
  width:40%;
  background-color: #000000;
  height: 83px;
}

#logo{
  position: absolute;
  left:0px;
  height: 85px;
}

#header_left{
  height: 83px;
  margin-top: 0px;
  background-color: #000000;
}

#upper{
  margin-top: 0px;
  background-color: #000000;
}

/*Wind text*/
#wind{
  position: absolute;
  left: 45px;
  top:40%;
  width:50%;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/*Burst text*/
#burst{
  position: absolute;
  left: 181px;
  width:50%;
  top:40%;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/*Knappen för vindpust*/
#wind_burst {
    background-color: #335e23;
    color: #0e0f0e;
    padding: 12px;
    margin: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.25);
}

/*Återkoppling vid mouseOver*/
#wind_burst:hover {
      background-color: #294c1c;
}

/*DropDown-meny*/
#mySelect {
    background-color: #335e23;
    color: #0e0f0e;
    padding: 11px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.25);
}

/*Återkoppling för DropDown*/
#mySelect:hover {
    background-color: #294c1c;
}